body {
  background-color: #22333b;
  padding-bottom: 2%;
}

h2,
h1 {
  text-decoration: double underline;
  font-family: "norse";
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #087e8b;
}

img {
  padding: 0.1%;
  border-radius: 4%;
  display: block;
  width: 30vw;
  box-sizing: border-box;
  display: inline-block;
}

a {
  color: #087e8b;
}

a:hover {
  color: #f72585;
  text-decoration: none;
  letter-spacing: 0.07em;
}

#middle {
  text-align: center;
}

